---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@use "variables" with (
  $max-content-width: {{ site.max_width | default: '900px' }}
);
@use "themes";
@use "layout";
@use "base";
@use "distill";

